<!DOCTYPE html>
<html>
  <head>
    <title>audioloop</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if Rails.env.development? and ENV['HIDE_DEV_BANNER'] != 'true' %>
      <%= render partial: 'layouts/dev_header' %>
    <% end %>

    <header class="site_header">
      <%= link_to 'audioloop', '#', class: 'site_logo' %>

      <nav class="site_nav">
        <% if user_signed_in? %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'site_nav_item' %>
        <% else %>
          <%= link_to 'Sign In', new_user_session_path, class: 'site_nav_item' %>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'site_nav_item' %>
        <% end %>
      </nav>
    </header>

    <main class="site_main">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>

  <footer>

  </footer>
</html>
